# 여러개 입력 처리

In [3]:
a = 'red blue green' # 문자열을 split함수로 리스트로 변환
a.split()

['red', 'blue', 'green']

In [6]:
b = 'red,green,blue' # ','를 기준으로 객체를 분리하여 리스트로 변환
b.split(',')

['red', 'green', 'blue']

In [8]:
string = input('빛의 3원색을 빈칸으로 구분하여 입력하세요.')
string

'빨강 초록 파랑'

In [10]:
r, g, b = string.split()
r, g, b

('빨강', '초록', '파랑')

In [12]:
numbers = ['3.1', '2.4', '8.5']
list(map(float, numbers)) # numbers 리스트의 문자열을 float 함수를 적용하여 숫자인 리스트로 표현

[3.1, 2.4, 8.5]

In [14]:
string = '3.1 2.4 8.5'
list(map(float, string.split())) # 구분이 안된 문자열 리스트를 구분하여 숫자인 리스트로 표현

[3.1, 2.4, 8.5]

In [15]:
string = input('실수 세개를 빈칸으로 구분하여 입력하세요.')
string

'3.1 2.4 8.5'

In [17]:
list(map(float, input('실수 세게 입력').split()))

[3.1, 2.4, 8.5]

In [20]:
x, y, z = [3.1, 2.4, 8.5]
x, y, z

(3.1, 2.4, 8.5)

In [25]:
x, y, z = list(map(float, input('실수 세개 입력').split()))
x, y, z

(3.14, 1.414, 2.714)

In [26]:
x, y, z = map(float, input('실수 세개 입력').split())
x, y, z

(3.14, 1.414, 2.714)