# 7장. 자료구조

# 1. 스택 (Stack)

In [2]:
stack = [1, 2, 3]
stack.append(4) # 뒤에서부터 추가 역할
stack

[1, 2, 3, 4]

In [12]:
stack.pop() # 뒤에서 부터 하나씩 출력
stack.pop(0) # 제일 앞에 있는 숫자를 출력

1

In [4]:
stack

[1, 2, 3]

In [11]:
# 입력한 문자열을 거꾸로 출력
word = input('단어 입력')
word_list = list(word)
print(word_list)

result = []
for s in range(len(word)):
    result.append(word_list.pop())
print(result)

['P', 'Y', 'T', 'H', 'O', 'N']
['N', 'O', 'H', 'T', 'Y', 'P']

In [18]:
queue = [1, 2, 3, 4]
queue.pop(0) # 제일 앞에 있는 숫자를 출력

1

In [19]:
queue = [1, 2, 3, 4]
queue.pop(3) # 제일 마지막에 있는 숫자를 출력

4

# 3. 튜플 (Tuple)

In [20]:
t = (1, 2, 3)
st = tuple('word')
t, st

((1, 2, 3), ('w', 'o', 'r', 'd'))

In [22]:
t = 1, 2, 3
t

(1, 2, 3)

In [26]:
t.count() # 튜플은 카운트는 가능

1

In [27]:
t[0] = 4 # 튜플은 변경이 불가능

TypeError: 'tuple' object does not support item assignment

In [30]:
a, b, c = 0, 0, 0 # 우변의 튜플을 언패킹하여 각 변수에 할당

In [31]:
# 튜플도 시퀀스 자료형이므로 for 문 사용 가능
for element in t:
    print(element)

1
2
3

# 4. 세트 (Set)

In [35]:
s = set([1, 2, 3, 1, 2, 3]) # 리스트를 세트로 변환
s

{1, 2, 3}

In [34]:
s = set((1, 2, 3)) # 튜플을 세트로 변환
s

{1, 2, 3}

In [36]:
# CRUD
s.add(4) # 하나의 원소를 추가
s

{1, 2, 3, 4}

In [38]:
s.update([1, 2, 3, 5, 7]) # 여러개의 원소를 리스트 형태로 추가
s

{1, 2, 3, 4, 5, 7}

In [39]:
s.remove(7)
s

{1, 2, 3, 4, 5}

In [40]:
s.discard(3)
s

{1, 2, 4, 5}

In [43]:
s.clear()
s

set()

In [44]:
s1 = set(range(1, 6))
s2 = set(range(3, 8))
s1, s2

({1, 2, 3, 4, 5}, {3, 4, 5, 6, 7})

In [45]:
# 합집합 (Union)
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7}

In [49]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7}

In [46]:
# 교집합 (Intersection)
s1.intersection(s2)

{3, 4, 5}

In [50]:
s1 & s2

{3, 4, 5}

In [47]:
# 차집합 (Difference)
s1.difference(s2)

{1, 2}

In [48]:
s1 - s2

{1, 2}

In [51]:
for i in s1: # 세트에서도 for 문 사용 가능
    print(i)

1
2
3
4
5